.prefer {
  color: var(--light-text-color);
  background-color: var(--light-background-color);
  background-image: var(--light-background-image);
}

.prefer article, .header-prefer {
  background-color: var(--light-article-background);
}

.toggle-prefer {
  fill: var(--light-text-color);
}

.invert {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);
  background-image: var(--dark-background-image);
}

.invert article, .header-invert {
  background-color: var(--dark-article-background);
}

.toggle-invert {
  fill: var(--dark-text-color);
}

@media (prefers-color-scheme: dark) {
  .prefer {
    color: var(--dark-text-color);
    background-color: var(--dark-background-color);
    background-image: var(--dark-background-image);
  }
  
  .prefer article, .header-prefer {
    background-color: var(--dark-article-background);
  }
  
  .toggle-prefer {
    fill: var(--dark-text-color);
  }
  
  .invert {
    color: var(--light-text-color);
    background-color: var(--light-background-color);
    background-image: var(--light-background-image);
  }
  
  .invert article, .header-invert {
    background-color: var(--light-article-background);
  }
  
  .toggle-invert {
    fill: var(--light-text-color);
  }
}

.meta {
  margin-top: .2em;
  margin-bottom: 1.5em;
}

.archive li {
  padding: .3em 0;
}

.archive a {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  font-size: 1.05em;
  width: 6em;
  margin: 0 .25em;
}

#theme-toggle {
  transition: fill .4s;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}