:root {
  --light-text-color: #2f3542;
  --light-article-background: #fff8;
  --light-background-color: #f1f2f6;
  --light-background-image: linear-gradient(#f1f2f6, #dcdee8);
  
  --dark-text-color: #f1f2f6;
  --dark-article-background: #0004;
  --dark-background-color: #2f3542;
  --dark-background-image: linear-gradient(#2f3542, #1c1f26);
}

body {
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  font-size: calc(0.8rem + 0.25vw);
  font-weight: 400;
  line-height: 1.65;
}

body, blockquote, figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

b, strong, th {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color .1s;
}

a:hover, header time {
  color: #a4b0be;
}

article a {
  color: #68f;
}

article header a, article footer a {
  color: inherit;
}

hr {
  border: 1px solid #9494944d;
  margin: 2em 0;
}

blockquote {
  background: #9494940f;
  border-left: 4px solid #68f;
  padding: 1px 1.5em;
}

img {
  display: block;
  border-radius: 5px;
  max-height: 500px;
  max-width: 100%;
  height: auto;
  margin: 2em auto 2em auto;
  box-shadow: 0 0 1em #000;
}

table {
  box-shadow: 0 0 0 1px #9494941f inset;
  border-spacing: 1px;
  width: 100%;
}

tr:hover, tr:nth-child(odd) td {
  background: #94949410;
}

th, td {
  box-shadow: 0 0 0 1px #9494941f;
  padding: .5em 1em;
}

pre {
  background: #94949422;
  border-radius: 2px;
  font-size: .8em;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto;
}

p code {
  font-size: .9em;
  background: #94949426;
  opacity: .75;
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.7em;
}

header h1, header h2 {
  margin: 0;
}

body > header, article {
  box-shadow: 0 0 2px 1px #0002;
  padding: 1.5em;
}

article {
  border-radius: 5px;
  margin: 1.5em 0;
}

@media (min-width: 40em) {
  body > header {
    padding: 1.5em calc(34% - 12rem);
  }
  
  article {
    margin: 1.5em calc(34% - 12rem);
  }
}
